/*=================COMPONENTS===================*/
:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-color: #757575;
  --help-color: #ffffff;
  --accent-background-color: #2f303a;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
/*===================END COMPONENTS================*/

/*==================HEADER======================*/
.container {
  width: 1200;
  padding-left: 20;
  padding-right: 20;
  margin: 0, auto;
}
.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
}
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  margin-left: 115px;
}
.logo-link-color {
  color: var(--accent-color);
}

.header-link-color {
  color: black;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.navigation-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--accent-color);
}
.contact-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--accent-color);
}
.header-link-color-page {
  color: var(--accent-color);
}
.nav-items-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.header-container {
  justify-content: space-between;
}
.mail-link {
  margin-right: 50px;
}
.tel-link {
  margin-right: 115px;
}
/*=======================END HEADER==============*/

/*==================HERO SECTION STUDIO=============*/
.hero-container {
  display: flex;
  align-items: center;
  background-color: var(--accent-background-color);
  justify-content: center;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--help-color);
}

.main-title {
  padding-top: 200px;
  padding-bottom: 30px;
}

.modal-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--help-color);
  padding: 10px 32px;
  margin-bottom: 200px;
  margin-left: 500px;
}
.modal-button:hover,
.modal-button:focus {
  cursor: pointer;
}
/*================END HERO SECTION STUDIO===========*/

/*================INFORM BUTTON SECTION PORTFOLIO==============*/

.inform-section-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 56px;
}
.modal-button-list {
  display: flex;
  align-items: center;
}
.modal-button-item {
  border-radius: 4px;
}
.modal-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  letter-spacing: 0.03em;
  margin-right: 8px;
}
.button {
  background: #f5f4fa;
}
.button:hover,
.button:focus {
  background: var(--accent-color);
  color: var(--help-color);
  cursor: pointer;
}
/*============END INFORM BUTTON SECTION PORTFOLIO=========*/

/*==================ADVENTAGE SECTION STUDIO==============*/
.adventage-section-container {
  display: flex;
  padding: 94px 0px;
}
.adventage-list {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.adventage-list-item:not(:last-child) {
  margin-right: 30px;
}
.adventage-list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.adventage-list-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-top: 10px;
}
/*=============END ADVENTAGE SECTION STUDIO=============*/

/*============ABOUT US SECTION STUDIO PORTFOLIO===========*/

.secondary-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.about-img-list {
  display: flex;
  justify-content: center;
}
.about-img-item:not(:last-child) {
  margin-right: 30px;
  padding-bottom: 94px;
}
.about-img-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
}
.about-img-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
  box-sizing: border-box;
}
.about-img-list-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-img-item-portfolio {
  margin-right: 30px;
  margin-bottom: 30px;
}

/*===========END ABOUT US SECTION STUDIO PORTFOLIO==========*/

/*=================ABOUT US SECTION TEAM====================*/

.secondary-title-team {
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-img-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-list-img-description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.about-us-section-team {
  background: #f5f4fa;
}
.team-list-container {
  padding-bottom: 94px;
}
/*============END ABOUT US SECTION TEAM=====================*/

/*==================FOOTER STUDIO PORTFOLIO===============*/
.footer {
  background: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact-color {
  color: rgba(255, 255, 255, 0.6);
}
.address-list-item {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-left: 115px;
}
.address-list-item:not(:last-child) {
  padding-bottom: 9px;
}
.address-list {
  padding-top: 20px;
}
.footer-link-color {
  color: var(--help-color);
}

.address-link:hover,
.address-link:focus {
}
/*================END FOOTER STUDIO PORTFOLIO==============*/
